<html>
<head>
    <title>Search</title>
</head>
<body>
    <h1>Primer database search</h1>
    <p>Genes currently in database:</p>
    <ul>
        {% for gene in genes %}
        <li>{{ gene.gene }}</li>
        {% endfor %}
    </ul>
    <p>Enter a gene name and click 'Search'.</p>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</body>
</html>